@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Задача</title>
</head>
<body>
    <h3 style="color:dimgray;">Задачa "@ViewBag.Task.Name":</h3>
    <a href="~/Knapsack/Tasks">Назад</a>

    <h4 style="color:dimgray;">Условие:</h4>
    <h6>Вместимость рюкзака: @ViewBag.Task.Knapsack.Capacity</h6>

    <h6>Все предметы:</h6>
    <table class="highlight">
        @foreach (var item in ViewBag.Task.Items)
        {
            <tr>
                <td>
                    <h6>Вес:</h6>
                    @item.Weight
                </td>
                <td>
                    <h6>Стоимость:</h6>
                    @item.Value
                </td>
            </tr>
        }
    </table>

    <h4 style="color:dimgray;">Решение:</h4>
    @if (ViewBag.Task.Status == true)
    {
        <h6>Статус: Выполнено</h6>
    }
    else if (ViewBag.Task.Status == false)
    {
        <h6>Статус: В процессе</h6>
    }
    else
    {
        <h6>Статус: Остановлен</h6>
    }
    <h6>Максимальная стоимость: @ViewBag.Task.MaxValue</h6>
    <h6>Затрачено времени: @ViewBag.Task.Time секунд</h6>
    <h6>Таблица:</h6>
    <table class="highlight">
        @for (int i = 0; i <= ViewBag.Task.Knapsack.Capacity; i++)
        {
            <tr>
                @for (int j = 0; j <= ViewBag.Task.Items.Count; j++)
                {
                    <td>
                        @ViewBag.Table[j, i]
                    </td>
                }
            </tr>
        }
    </table>

    <h6>Вошедшие предметы:</h6>
    <table class="highlight">
        @foreach (var item in ViewBag.Task.Knapsack.Items)
        {
            <tr>
                <td>
                    <h6>Вес:</h6>
                    @item.Weight
                </td>
                <td>
                    <h6>Стоимость:</h6>
                    @item.Value
                </td>
            </tr>
        }
    </table>

</body>
</html>